@model Tp_Comerce.Models.ApplicationUser

@{
    ViewData["Title"] = "Verrouiller Utilisateur";
}

<div class="container ls-product-section">
    <div id="produit" class="page-header"></div>
    <div class="container ">
        <h3 class="h1-responsive font-weight-bold text-center my-4 "> VERROUILLER UTILISATEUR </h3>
        <div class="line"></div>

        <div id="listproduct" class="row">
            <div class="col-md-4">
                <form asp-action="LockOut">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" readonly="readonly" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" readonly="readonly" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" readonly="readonly" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Verrouiller" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a class="btn btn-info" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}





